<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End Ride</title>
</head>
<body>
{% block content %}
    <h1>{% block title %} End Riding {% endblock %}</h1>
    <form method="post">
        <label for="title">Access token</label>
        <br>
        <input type="text" name="access_token"
               placeholder="access_token"
               value="{{ request.form['access_token'] }}">
        </input>
        <br>

        <label for="content">Ride ID</label>
        <br>
        <input type="number" name="ride_id"
                  placeholder="ride_id"
                  value="{{ request.form['ride_id'] }}">
        </input>
        <br>

        <label for="content">X location </label>
        <br>
        <input type="number" name="loc_x"
                  placeholder="loc_x"
                  value="{{ request.form['loc_x'] }}">
        </input>
        <br>

        <label for="content">Y location </label>
        <br>
        <input type="number" name="loc_y"
                  placeholder="loc_y"
                  value="{{ request.form['loc_y'] }}">
        </input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
</body>
</html>