<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Ride</title>
</head>
<body>
{% block content %}
    <h1>{% block title %} Get Bike {% endblock %}</h1>
    <form method="post">
        <label for="title">Access token</label>
        <br>
        <input type="text" name="access_token"
               placeholder="access_token"
               value="{{ request.form['access_token'] }}">
        </input>
        <br>

        <label for="content">Bike ID</label>
        <br>
        <input type="number" name="bike_id"
                  placeholder="bike_id"
                  value="{{ request.form['bike_id'] }}">
        </input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

</body>
</html>